.about-us {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__content {
    font-family: 'Space Mono', monospace;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__content p:first-child {
    margin-top: 0;
  }

  &__content p:last-child {
    margin-bottom: 0;
  }
}
