.header {
  background-image: url(/src/images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    line-height: 100%;

    @include font-size(36px, 48px, 56px);

    @include on-tablet {
      max-width: 392px;
    }

    @include on-desktop {
      max-width: 498px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 65px;
    }

    @include on-desktop {
      padding-bottom: 92px;
    }
  }
}
