.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-weight: 700;
  line-height: 32px;

  @include responsive-font-size(32px, 40px, 48px);

  @include on-tablet {
    margin-bottom: 56px;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }
}

.about-us__title {
  margin-bottom: 24px;
}
