$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$effect-duration: 0.3s;
$reveal-duration: 0.7s;
$main-text-color: #292929;
$color-main-bg: #fff;
$color-text-secondary: #7e7e83;
$color-form-label: #9393a3;
$color-contant-text: #191919;
$color-surface-light: #f8f8fa;
$color-border-light: #f0f1f4;
$color-border-default: #d5d7de;
$color-menu-bg: #e5e6e8;
$color-button-active: #111;
$border-radius-main: 8px;
$font-main: 'Space Grotesk', sans-serif;
$font-secondary: 'Space Mono', monospace;
